html, body {
    margin: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
nav {
    padding: 25px 50px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav span {
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    /* border: none; */
}